.logo{
  width: 50px
}
.login-section{
  width: 350px;
  height: 430px;
  margin-left: 35%;
  margin-top: 5%;
  padding: 30px;
  box-shadow: 0 0 5px grey;
  border-radius: 10px;
}
.forgot{
  font-size: small;
  color: blueviolet;
  cursor: pointer;
}
.login-section input{
  width: 250px;
}
.slogan{
  font-size: small;
}
.nav-bar{
  background-color: white;
  box-shadow: 0 0 7px grey;
}
.nav-brand{
  display: flex;

}
.church-logo{
  width: 40px;
  height: 25px;
}